h2{
  text-align:center;
}
.row  img{
  opacity:0.4;
  color:#2971b0;
  height:50%;
  width:100%;
  z-index:-1;
  transition: visibility 0s 0.3s, opacity 1.3s, bottom 0.3s;
}
h3,img:hover{
  opacity:1.0;
}

.title{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  margin: 0 auto;
  margin-left:0;
  padding:2ex 1em;
  max-width:60%;
  font-size:3ex;
  color:white;
}
.col-md-3{
  padding-right:0;
  padding-left:0;
  background-color:#2971b0;
}
